In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/ISI_data.csv')
df.head()

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

In [3]:
df.shape

(5481, 123)

In [4]:
missings = df.isnull().sum()
missings

ID                       0
PSG_date                 0
PSG_ID                   0
sex                      0
age                      0
                      ...
Total LM \nArousal#    207
Total LM AI(/h)        207
PLM \nArousal#         208
PLM \nAI(/h)           208
MAI(/h)                207
Length: 123, dtype: int64

In [5]:
missings_cols = []
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)
        missings_cols.append(col)

검사당일수면제
복용여부(Y/N) 	 1059
수면제이름 	 5133
검사당일
음주여부(Y/N) 	 1059
검사당일
음주량 	 5481
N2 sleep
latency(min) 	 1
WASO(min) 	 1
WASO(%) 	 1
Spontaneous
Arousal # 	 35
Movement
Arousal # 	 8
Total_
apnea # 	 3
Total_
Hypopnea# 	 3
Baseline waking
SaO2 	 22
Baseline
sleep SaO2 	 22
Lowest SaO2 (%) 	 35
Lowest
SaO2 Epoch 	 1104
Below90%
SaO2(%) 	 246
Below90%
SaO2(min) 	 246
Arrhythmia(y/n) 	 1059
PVC(y/n) 	 1059
Bradycardia(y/n) 	 1059
Others(y/n) 	 1059
PLM# 	 530
Total
LMI =PLMI(/h) 	 136
Total LM
Arousal# 	 207
Total LM AI(/h) 	 207
PLM
Arousal# 	 208
PLM
AI(/h) 	 208
MAI(/h) 	 207

In [6]:
df = df.drop(['수면제이름', '검사당일\n음주량'], axis=1)
print(df.shape)
df.head()

(5481, 121)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

# Data A

In [7]:
df_a = df.dropna()
print(df_a.shape)
df_a.head()

(4326, 121)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3
12,13,2015-12-15,PE150845,1,58,1957-01-30,PPI,0,1,0,...,N,N,N,62.0,9.4,0.0,0.0,0.0,0.0,0.0
13,14,2015-12-26,PE150877,1,41,1974-12-04,Insomnia,0,1,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,2016-08-20,PE160708,0,52,1963-12-30,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,2016-11-30,PE161046,0,54,1962-09-10,Catathrenia,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
cols_list = []
for col in df_a.columns:
    if col == 'ID':
        continue
    na_row = df_a[df_a[col] == 999]
    if len(na_row) != 0:
        cols_list.append(col)
        print(col, '\t', len(na_row))

신장 	 1
체중 	 4
BMI 	 5
PSQI 	 172
ISI 	 75
SSS 	 47
ESS 	 41
HADS-A 	 4050
HADS-D 	 4051
K-BDI2 	 152
WHO-QOL 	 2571
배둘레 	 107
엉덩이둘레 	 109
목둘레
앉은상태 	 104
목둘레
누운상태 	 106
머리둘레 	 107
전날수면시간 	 27
REM Arousal
index(h) 	 1

In [9]:
df_a = df_a.drop(['HADS-A', 'HADS-D', 'WHO-QOL'], axis=1)
print(df_a.shape)
df_a.head()

(4326, 118)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3
12,13,2015-12-15,PE150845,1,58,1957-01-30,PPI,0,1,0,...,N,N,N,62.0,9.4,0.0,0.0,0.0,0.0,0.0
13,14,2015-12-26,PE150877,1,41,1974-12-04,Insomnia,0,1,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,2016-08-20,PE160708,0,52,1963-12-30,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,2016-11-30,PE161046,0,54,1962-09-10,Catathrenia,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
cols_list.remove('HADS-A')
cols_list.remove('HADS-D')
cols_list.remove('WHO-QOL')

In [11]:
idxs_list = []
for col in cols_list:
    idxs_list += list(df_a.loc[df_a[col] == 999].index)

idxs_list = list(set(idxs_list))
print(idxs_list)

[2049, 2050, 4, 2053, 2054, 2055, 2056, 4100, 4101, 2052, 12, 13, 4124, 37, 2091, 4140, 4145, 2105, 58, 57, 2108, 4172, 84, 4194, 4197, 4198, 2153, 4203, 2157, 4205, 2161, 115, 125, 128, 129, 130, 4229, 138, 2191, 4253, 2207, 2215, 170, 184, 186, 2240, 2241, 206, 207, 4302, 2257, 4314, 226, 2276, 4337, 4364, 269, 2317, 2319, 2322, 2324, 2326, 2327, 280, 2328, 2329, 285, 292, 298, 2351, 307, 315, 318, 2367, 4416, 2384, 4442, 4452, 4453, 360, 4457, 362, 4462, 373, 4470, 375, 381, 385, 398, 405, 2458, 412, 2462, 438, 2494, 2495, 2496, 2497, 2498, 466, 4563, 468, 4564, 476, 2528, 481, 2532, 490, 4588, 2541, 494, 496, 505, 507, 509, 512, 513, 4610, 520, 531, 4639, 4640, 4669, 2632, 591, 599, 600, 2652, 4700, 606, 611, 617, 2674, 2675, 2677, 4728, 4731, 2684, 638, 4735, 642, 2694, 665, 671, 680, 2735, 4785, 4790, 2748, 4797, 2750, 2751, 2752, 2754, 4803, 2755, 2756, 2758, 717, 2780, 4832, 2792, 746, 4845, 4847, 4848, 764, 770, 4875, 780, 781, 782, 784, 785, 788, 4896, 807, 2858, 4906, 816, 2867, 819, 4917, 841, 2891, 845, 2897, 2904, 2905, 2917, 2921, 4970, 2925, 2926, 2927, 2928, 2929, 2932, 890, 4989, 896, 900, 901, 902, 904, 2954, 2961, 919, 5017, 930, 935, 5052, 960, 5062, 5069, 973, 5076, 3040, 999, 5109, 5110, 5114, 1019, 1023, 1032, 3081, 5132, 1038, 5152, 1060, 1072, 5173, 1078, 1079, 5175, 3133, 1086, 1087, 1090, 5189, 1094, 1101, 3156, 3159, 3160, 3162, 5217, 3185, 1144, 1145, 3192, 5242, 1155, 3221, 5274, 1181, 1188, 3258, 5313, 1222, 1223, 5326, 1234, 5352, 5356, 3315, 5367, 3325, 1282, 3330, 5382, 1289, 5389, 5399, 3354, 3371, 5426, 1346, 5442, 5446, 5451, 5465, 3422, 1375, 5477, 5479, 5480, 3447, 1412, 1420, 1423, 1429, 1433, 1436, 1437, 1438, 1444, 1449, 1450, 1451, 1458, 3514, 3515, 1473, 3537, 3543, 3546, 3547, 3548, 3549, 3552, 1508, 3593, 1563, 1589, 1603, 1615, 1626, 3687, 3697, 3704, 1658, 3719, 3725, 3731, 1697, 1704, 3780, 3816, 1776, 3824, 3829, 3846, 1812, 3862, 1820, 1829, 1831, 3881, 3885, 3886, 1843, 1851, 1852, 1855, 3904, 1856, 1857, 1861, 1862, 1863, 1864, 1865, 1866, 1869, 1875, 1881, 1888, 1902, 1943, 4006, 4016, 4017, 4018, 4059, 4077, 4088, 4095]

In [12]:
df_a = df_a.drop(idxs_list)
print(df_a.shape)
df_a.head()

(3958, 118)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
23,24,2016-08-20,PE160708,0,52,1963-12-30,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,2016-11-30,PE161046,0,54,1962-09-10,Catathrenia,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,27,2016-12-12,PE161082,1,48,1968-02-23,Insomnia,0,1,0,...,N,N,N,148.0,21.7,4.0,0.6,13.0,1.9,2.5
27,28,2016-12-14,PE161086,1,57,1959-12-01,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,29,2016-12-28,PE161132,1,64,1952-08-26,Insomnia,0,1,0,...,N,N,N,583.0,80.8,6.0,0.9,31.0,4.6,5.5

In [13]:
df_a = df_a.drop(['ID', 'PSG_date', 'PSG_ID', 'Final Diagnosis'], axis=1)
print(df_a.shape)
df_a.head()

(3958, 114)

,sex,age,birth,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",Catathrenia,...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
23,0,52,1963-12-30,1,0,0,0,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0,54,1962-09-10,0,0,0,0,0,0,1,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1,48,1968-02-23,0,1,0,0,0,0,0,...,N,N,N,148.0,21.7,4.0,0.6,13.0,1.9,2.5
27,1,57,1959-12-01,1,0,0,0,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1,64,1952-08-26,0,1,0,0,0,0,0,...,N,N,N,583.0,80.8,6.0,0.9,31.0,4.6,5.5

In [14]:
df_a.to_csv('../data/isa_data_a.csv', index=False)

In [16]:
missings = df_a.isnull().sum()
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)

In [17]:
for col in df_a.columns:
    na_row = df_a[df_a[col] == 999]
    if len(na_row) != 0:
        print(col, '\t', len(na_row))

# Data B

In [7]:
df.shape

(5481, 121)

In [8]:
df_b = df.dropna(axis=1, how='any')
print(df_b.shape)
df_b.head()

(5481, 95)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [9]:
cols_list = []
for col in df_b.columns:
    if col == 'ID':
        continue
    na_row = df_b[df_b[col] == 999]
    if len(na_row) != 0:
        cols_list.append(col)
        print(col, '\t', len(na_row))

OSA 	 1
insomnia 	 1
Catathrenia 	 1
control 	 1
신장 	 5
체중 	 8
BMI 	 12
PSQI 	 1243
ISI 	 1143
SSS 	 1116
ESS 	 1104
HADS-A 	 5199
HADS-D 	 5200
K-BDI2 	 1247
WHO-QOL 	 3703
배둘레 	 1193
엉덩이둘레 	 1195
목둘레
앉은상태 	 1190
목둘레
누운상태 	 1192
머리둘레 	 1193
전날수면시간 	 891
REM Arousal
index(h) 	 1

In [10]:
cols_list.remove('OSA')
cols_list.remove('insomnia')
cols_list.remove('Catathrenia')
cols_list.remove('control')

row_drop_idx = df_b[(df_b['OSA'] == 999) | (df_b['insomnia'] == 999) | (df_b['Catathrenia'] == 999) | (df_b['control'] == 999)].index
print(row_drop_idx)

df_b = df_b.drop(row_drop_idx, axis=0)
df_b[(df_b['OSA'] == 999) | (df_b['insomnia'] == 999) | (df_b['Catathrenia'] == 999) | (df_b['control'] == 999)]

In [14]:
df_b = df_b.drop(cols_list, axis=1)
print(df_b.shape)
df_b.head()

(5480, 77)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [15]:
df_b = df_b.drop(['ID', 'PSG_date', 'PSG_ID', 'Final Diagnosis'], axis=1)
print(df_b.shape)
df_b.head()

(5480, 73)

,sex,age,birth,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",Catathrenia,...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,52,1962-02-26,0,0,0,0,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,0,65,1948-12-17,1,0,1,0,0,0,0,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,0,53,1961-02-28,1,0,0,0,0,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,0,53,1961-06-01,1,1,0,0,0,0,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,1,55,1959-12-19,1,0,0,0,0,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [16]:
df_b.to_csv('../data/isa_data_b.csv', index=False)

In [17]:
missings = df_b.isnull().sum()
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)

In [18]:
for col in df_b.columns:
    na_row = df_b[df_b[col] == 999]
    if len(na_row) != 0:
        print(col, '\t', len(na_row))